.login {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	@include themes(){
        color: getValue(textPrimary);
    }

	// .login__welcome-container
	&__container {
		max-width: 1000px;
		display: flex;
		margin: 0 auto;
		flex: 1;
		box-shadow: $box-shadow;
		border-radius: $cards-radius;
		overflow: hidden;
	}

	&__welcome-container {
		display: flex;
		align-items: center;
		justify-content: center;
		// background-color: $color-background-card-dark;
		width: 50%;

		@include themes() {
			background-color: getValue(backgroundColor);
		}
	}

	// .login__welcome-text
	&__welcome-text {
		color: white;
	}

	// .login__sign-in
	&__sign-in {
		padding: 2rem 2rem 4rem 1rem;
		width: 50%;
		flex: 1;

		@include themes() {
			background-color: getValue(backgroundColorCards);
		}
	}
	h2, form{
		margin-bottom: 1.5rem;
	}

}