@use '../abstracts' as *;
.login-content{
	height: 100%;
}

.login {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	@include themes(){
        color: getValue(textPrimary);
    }

	// .login__welcome-container
	&__container {
		max-width: 1000px;
		display: flex;
		margin: 0 auto;
		flex: 1;
		box-shadow: $box-shadow;
		border-radius: $cards-radius;
		overflow: hidden;
		flex-direction: column;
		@include respond(big-phone){
			flex-direction: row;
		}
	}

	&__welcome-container {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		@include themes() {
			background-color: getValue(backgroundColor);
		}
		@include respond(big-phone){
			width: 50%;
		}
	}

	// .login__welcome-text
	&__welcome-text {
		color: white;
	}

	// .login__sign-in
	&__sign-in {
		padding: 2rem 2rem 4rem 1rem;
		width: 100%;
		flex: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		@include themes() {
			background-color: getValue(backgroundColorCards);
		}
		@include respond(big-phone){
			width: 50%;
			padding: 2rem 2.5rem 4rem 2.5rem;
		}
	}
	h2, form{
		margin-bottom: 1.5rem;
	}
	.custom-checkbox{
		margin-left: 43px;
	}

	app-auth-form{
		width: 100%;
	}
}