@use '../abstracts' as *;
.auth-form{
    &__inputs{
        max-width: 300px;
    }
    &__group {
        input {
            padding: 20px 0px;
        }
    }
    &__group,
    .custom-checkbox{
        margin-bottom: 1.5rem;
    }
}
