@use '../abstracts' as *;

.main {
  padding-left: clamp(1rem, 2vw, 3rem);
  padding-right: clamp(1rem, 2vw, 3rem);
  padding-top: clamp(2rem, 4vh, 4rem);
  padding-bottom: clamp(2rem, 4vh, 4rem);
  width: 100%;
  overflow-y: auto;
    @include themes(){
      background-color: getValue(backgroundColor);
      color: getValue(textPrimary);
    }
}

.login-content {
  .main {
    height: 100%;
      @include themes(){
      background-color: transparent;
    }
  }
}

footer,
header,
nav{
    @include themes(){
        background-color: getValue(backgroundColorCards);
        color: getValue(textPrimary);
    }
}

.content {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr 30px;
  height: 100%;
  overflow: hidden;
  background-color: white; // TODO: remove after theme implementation
  
  app-header{
    grid-column: 1 / 3;
    grid-row: 1 /2;
  }
  app-sidebar {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  .main{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  app-footer{
     grid-column: 2
      / 3;
     grid-row: 3 / 4;
     display: flex;
  }
}

footer{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row{
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
