@use '../abstracts' as *;

.main {
  padding-left: clamp(1rem, 2vw, 3rem);
  padding-right: clamp(1rem, 2vw, 3rem);
  padding-top: clamp(2rem, 4vh, 4rem);
  padding-bottom: clamp(2rem, 4vh, 4rem);
  display: flex;
  flex-direction: column;
}